$imgPath: '/resources/img/';

.hamTaker {
    width: 100%;
    height: 100%;
    background: #000000;
    
    .hamTakerWrap {
        display: flex;
        position: absolute;
        width: 100%;
        height: calc(100% - 80px);
        justify-content: center;
        align-items: center;
        align-content: center;
        flex-wrap: wrap;
        top: 0;
        overflow: hidden;
        
        .ham {
            width: 50px;
            height: 50px;
            position: absolute;
            transition: all 0.15s;
            z-index: 1;
            
            &:focus {
                outline: none;
            }
        }
        
        .ham::after {
            content: '';
            display: block;
            width: 50px;
            height: 50px;
            background-repeat: no-repeat;
            background-position: center center;
            background-size: contain;
            background-image: url($imgPath + 'characters/imgHellTaker.gif');
            transform: scale(1.3) translateY(-20px);
        }
        
        .life {
            font-size: 40px;
            font-weight: bold;
            text-align: left;
            color: #ffffff;
            text-shadow: 0px 0px 10px #ffffff;
        }
        
        .map {
            position: relative;
            transform: perspective(400px) rotateX(15deg);
            
            p {
                display: inline-block;
            }
            
            div {
                font-size: 0;
            }
            
            .mapTile {
                p::after {
                    content: '';
                    display: block;
                    width: 50px;
                    height: 50px;
                    background-repeat: no-repeat;
                    background-position: center center;
                    background-size: contain;
                }
            }
            
            .SPACE {
                background: #000000;
            }
            
            .LAND {
                background: #700c29;
            }
            
            .ROCK {
                background: #700c29;
            }
            
            .ROCK::after {
                background-image: url($imgPath + 'imgRock.png');
                transform: translateY(-10px);
            }
            
            .THORN {
                background: #700c29;
            }
            
            .THORN::after {
                background-image: url($imgPath + 'imgSpikeTrapOn.png');
            }
            
            .GOAL {
                background: green;
            }
            
            .spikeTrapOn {
                background: #700c29;
            }
            
            .spikeTrapOn::after {
                background-image: url($imgPath + 'imgSpikeTrapOn.png');
                transition: all 0.2s;
            }
            
            .spikeTrapOff {
                background: #700c29;
            }
            
            .spikeTrapOff::after {
                background-image: url($imgPath + 'imgSpikeTrapOff.png');
                transition: all 0.2s;
            }
            
            .SKELETON {
                background: #700c29;
            }
            
            .SKELETON::after {
                background-image: url($imgPath + 'characters/imgSkeleton.gif');
                transform: scale(1.3) translateY(-20px);
            }
        }
        
        .hamTakerSuccess {
            position: absolute;
            width: 100%;
            height: 100%;
            background: #00000080;
            
            .hamTakerSuccessLeft {
                position: absolute;
                width: 35%;
                height: 50%;
                left: 0;
                bottom: 0;
                background-image: url($imgPath + "bgHamTakerDancing.gif");
                background-repeat: no-repeat;
                background-position: center center;
                background-size: contain;
            }
            
            .hamTakerSuccessRight {
                position: absolute;
                width: 35%;
                height: 50%;
                right: 0;
                bottom: 0;
                transform: scaleX(-1);
                background-image: url($imgPath + "bgHamTakerDancing.gif");
                background-repeat: no-repeat;
                background-position: center center;
                background-size: contain;
            }
            
            .hamTakerSuccessSentence {
                position: absolute;
                width: 100%;
                text-align: center;
                height: 20%;
                color: #ffffff;
                bottom: 0;
                
                > h2 {
                    font-size: 5vw;
                    font-weight: bold;
                    letter-spacing: 1vw;
                    text-shadow: 0px 0px 10px #ffffff;
                }
                
                > h3 {
                    font-size: 2vw;
                    letter-spacing: 2vw;
                }
            }
        }
        
        .hamTakerFail {
            position: absolute;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
            height: 100%;
            top: 0;
            
            .hamTakerFailUp {
                position: absolute;
                width: 100%;
                height: 0px;
                background: #000000;
                top: 0;
                transition: all 0.3s;
            }
            
            .hamTakerFailDown {
                position: absolute;
                width: 100%;
                height: 0px;
                background: #000000;
                bottom: 0;
                transition: all 0.3s;
            }
            
            .hamTakerFailCenter {
                display: flex;
                position: absolute;
                width: 100%;
                height: 100%;
                align-items: center;
                justify-content: center;
                bottom: 0;
                opacity: 0;
                background: #000000;
                transition: all 0.3s;
                
                > h2 {
                    font-size: 10vw;
                    font-weight: bold;
                    color: #ffffff;
                    text-shadow: 0px 0px 10px #ffffff;
                }
            }
        }
    }
}
