$imgPath: '/resources/img/';

.loadingWrap {
    overflow: hidden;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background: #000;    

    &:before {
        position: absolute;
        top: 0;
        width: 100%;
        height: 20%;
        background: #000;
        z-index: 2;
        content: '';
    }
}

.cover {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    position: absolute;
    animation: moveRepeat 40s infinite linear;

    &:before {
        display: inline-block;
        width: 1913px;
        height: 539px;
        background: url($imgPath + 'bgLoading.png');
        background-size: cover;
        content: '';
    }
}

.textWrap {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    bottom: 0;
    width: 100%;
    height: 30%;
    background: #000;

    .text {
        font-size: 20px;
        color: #fff;
    }
}

.startBtn {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    background: none;
    border: none;
    color: #fff;
    cursor: pointer;
}

.circle {
    margin: 3px;
}

.leftArrow {
    animation: moveLeft 1s infinite;
}

.rightArrow {
    animation: moveRight 1s infinite;
}

@keyframes moveRepeat {
    from {
        transform: translate(0);
    }
    to {
        transform: translate(-20%);
    }
}


@keyframes moveLeft {
    0% {
        transform: translate(0px);
    }
    30% {
        transform: translate(-3px);
    }
    100% {
        transform: translate(0px);
    }
}

@keyframes moveRight {
    0% {
        transform: translate(0px);
    }
    30% {
        transform: translate(3px);
    }
    100% {
        transform: translate(0px);
    }
}